= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = f.error_notification
  .ui.three.column.grid
    .column
      .ui.fluid.form.segment
        %h3.ui.header Sign in:
        %h4.ui.header With an email/password
        .field
          = f.input :email, required: false, autofocus: false
        .field
          = f.input :password, required: false
        %h4.ui.header With a Toggl token
        .field
          = f.input :toggl_api_key, label: 'Toggl token', required: false
        .inline.field
          .ui.checkbox
            %input{type: 'checkbox'}
              = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

        = f.button :submit, 'Sign in', class: 'small ui purple button'
      = render 'devise/shared/links'