= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.error_notification
  .ui.three.column.grid
    .column
      .ui.fluid.form.segment
        %h3.ui.header Sign up
        .field
          = f.input :toggl_api_key, required: true, autofocus: true

        = f.button :submit, 'Sign up', class: 'small ui purple button'
      = render 'devise/shared/links'