= simple_form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  = f.error_notification
  = f.full_error :unlock_token
  .ui.three.column.grid
    .column
      .ui.fluid.form.segment
        %h3.ui.header Resend unlock instructions
        .field
          = f.input :email, :required => true, :autofocus => true

        = f.button :submit, "Resend unlock instructions", class: "small ui purple button"
      = render "devise/shared/links"