= simple_form_for @user do |f|
  .ui.three.column.grid
    .column
      .ui.fluid.form.segment
        %h3.ui.header Edit
        .field
          = "Email: #{@user.email}"
        .field
          = f.input :toggl_api_key
        .field
          = f.button :submit, "Update User", class: "small ui purple button"