= simple_form_for @user do |f|
  .ui.three.column.grid
    .column
      .ui.form.segment
        %h3.ui.header Edit
        .field
          = "Email: #{@user.email}"
        .ui.divider
        .field
          = f.input :toggl_api_key
        .field
          .ui.buttons
            = f.button :submit, "Update", class: "ui purple button"
            .ui.or
            = link_to 'Show', @user, class: "ui teal button"