- if can? :change, @user
  %p
    = link_to "Edit", edit_user_path(@user)
%p
  %strong User:
  = @user
  - if can? :read_details, @user
    %p
      %strong Toggl API:
      = @user.toggl_api_key

    - if @datas
      %h3
        = 'Персональные данные'
      = render partial: '/users/datas/fields', locals: {fields: @datas.except('projects','workspaces')}

      %h3
        = 'Проекты'
      = render partial: '/users/datas/projects', locals: {projects: @datas['projects']}

      %h3
        = 'Рабочие области'
      = render partial: '/users/datas/workspaces', locals: {workspaces: @datas['workspaces']}
