= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = f.error_notification
  .ui.three.column.grid
    .column
      .ui.fluid.form.segment
        %h3.ui.header Forgot your password?
        .field
          = f.input :email, required: true, autofocus: true
        .field
          = f.button :submit, "Reset password instructions", class: "small ui purple button"
      = render "devise/shared/links"

