- content_for(:scripts) do
  :coffeescript
    projectUsers = ->
      document.getElementById("agreement_worker_id").options.length = 0
      val = $('#agreement_project_id').val()
      $.getJSON "/toggl/projects/" + val + "/users", (response) ->
        $.each response, (key, value) ->
          $("#agreement_worker_id").append $("<option></option>").attr("value", key).text(value)
    addProjects = ->
      $.getJSON "/toggl/projects", (response) ->
        document.getElementById("agreement_project_id").options.length = 0
        $.each response, (index) ->
          optgroup = $('<optgroup></optgroup>')
          optgroup.attr('label',response[index][0])
          $.each response[index][1], (i)->
            option = $("<option></option>")
            option.val(response[index][1][i]['id'])
            option.text(response[index][1][i]['name'])
            optgroup.append(option)
          $("#agreement_project_id").append(optgroup)
        projectUsers()
    $ ->
      addProjects()
      $("#agreement_project_id").change ->
        projectUsers()

.ui.form.segment
  = simple_form_for @agreement do |f|
    .field
      = f.input :project_id, as: :select
    .field
      = f.input :worker_id, as: :select
    .field
      = f.input :limit_min
    .field
      = f.input :limit_max
    .field
      = f.input :started_at
    .field
      = f.input :ended_at
    .field
      = f.button :submit, class: 'ui small teal button'
    .modal
