- agreements.each do |a|
  %tr{ class: [highlight_index(a.state), :pointer], data: { link: "#{ agreement_path(a) }" } }
    %td
      = "#{a.started_at.to_s :short} - #{a.ended_at.to_s :short}"
    %td
      = "#{a.limit_min} - #{a.limit_max}"
    %td
      = a.manager.toggl_user.fullname
    %td
      = a.worker.toggl_user.fullname
    %td{class: state_class_index(a.state)}
      = a.state.humanize
    %td
      .two.fluid.ui.buttons
        - %w(accept reject).each do |event_name|
          - if can? event_name.to_sym, a
            - if event_name == 'accept'
              = link_to event_name.capitalize, [event_name, a], class: 'ui positive mini button'
            - else
              = link_to event_name.capitalize, [event_name, a], class: 'ui negative mini button'
    %td
      - if can?(:update, a)
        .two.fluid.ui.buttons
          = link_to 'Change', edit_agreement_path(a), class: 'ui mini button'
          = link_to 'Show', agreement_path(a), class: 'ui mini button'
      - else
        = link_to 'Show', agreement_path(a), class: 'ui fluid mini button'
