.ui.grid
  .twelve.wide.column
    %h1
      = scope_role == :manager ? 'Managing agreements' : 'Working agreements'
    .right
      - if scope_role == :manager
        = button_to 'Working agreements', "#{polymorphic_path([current_user, :worker, :agreements])}/all", method: :get, class: 'ui small button'
      - else
        = button_to 'Managing agreements', "#{polymorphic_path([current_user, :manager, :agreements])}/all", method: :get, class: 'ui small button'
    .ui.pointing.secondary.menu
      - Agreement::FILTERS.each do |filter|
        = link_to "#{polymorphic_path([current_user, params[:role], :agreements])}/#{filter}", class: params[:filter] == filter ? 'red active item' : 'item' do
          = filter.humanize
    .ui.segment
      = render partial: 'table', locals: { agreements: @agreements }
    %p
      = link_to 'New agreement', new_agreement_path, class: 'small ui purple button'