#header.ui.menu
  .container
    = link_to 'ToggRep', root_path, class: 'item'
    - if current_user && !incorrect_toggl_api_key?
      = link_to 'Agreements', "#{user_manager_agreements_path(current_user)}/all", class: 'item'
    .right.menu
      - if current_user
        = link_to current_user, class: 'item avatar' do
          = gravatar_for current_user
        = link_to current_user, class: 'item' do
          = current_user
        %a.item{:href => destroy_user_session_path, :method => 'get'}
          Sign Out
      - else
        %a.item{:href => new_user_registration_path}
          Sign Up
        %a.item{:href => new_user_session_path}
          Sign In
