!!!
%html
  %head
    %title Toggrep
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    - if content_for?(:scripts)
      = content_for(:scripts)
  %body
    = render 'layouts/header'
    = render 'shared/flash'
    .ui.segment
      = yield
